body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.payment-form form {
    display: flex;
    flex-direction: column;
}

.payment-form h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.payment-form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-form input[type="text"],
.payment-form select {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.payment-form button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.payment-form button:hover {
    background-color: #3e8e41;
}